contexttimer==0.3.3
decord==0.6.0
diffusers==0.16.0
einops==0.7.0
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
tensorboard==2.16.2
timm==0.4.12
torch==2.2.1
torchvision==0.17.1
tqdm
transformers==4.34.0
webdataset
wheel
